@import "tailwindcss";

:root {
  --background: #FDFAEE; /* Matching your MindDhara theme */
  --foreground: #1A411D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Map Lato to sans and Prata to serif */
  --font-sans: var(--font-lato);
  --font-serif: var(--font-prata);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}